.sidebar {
  background: linear-gradient(
    76deg,
    rgba(251, 92, 75, 1) 0%,
    rgba(216, 21, 59, 1) 100%
  );
  min-width: 230px;
  transition: 1 ease-out width;
  min-height: 100vh;
}
.sidebar.hide {
  width: 0px;
  display: none;
  transition: 1 ease-out width;
}
.content {
  width: 100%;
  height: 100vh;
  background: #fff;
}

/* sidebar */
.sidebar__header {
  height: 80px;
  color: #fff;
  font-size: 1.3rem;
  display: grid;
  place-content: center;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}
.sidebar__items {
  padding-left: 25px;
  list-style: none;
}
.sidebar__items a {
  text-decoration: none;
}

.sidebar__item {
  display: flex;
  align-items: center;
  padding: 12px;
  font-weight: 500;
  margin-top: 15px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  line-height: 10px;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
}
.sidebar__item:hover {
  background: rgba(255, 255, 255, 0.2);
}

.sidebar__items a.active .sidebar__item {
  background: #fff;
  color: var(--accent-color);
}
.sidebar__items a.active .sidebar__icon {
  fill: var(--accent-color);
}

.sidebar__item .sidebar__icon {
  margin-right: 8px;
  fill: #fff;
}

/* MOBILE NAV */
.mobile-nav {
  display: flex;
  display: none;
  position: relative;
  background: linear-gradient(
    360deg,
    rgba(251, 92, 75, 1) 0%,
    rgba(216, 21, 59, 1) 100%
  );
  color: #fff;
  flex-direction: column;
  z-index: 100;
}

.mobile-nav .mobile-nav__toggle {
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 4px;
  position: absolute;
  top: 3px;
  right: 2%;
  fill: rgba(255, 255, 255, 0.6);
}
.mobile-nav .mobile-nav__toggle:hover {
  fill: rgba(255, 255, 255, 1);
  transform: scale(1.2);
}
.mobile-nav .mobile-nav__toggle.active {
  border: 2px solid rgba(255, 255, 255, 0.8);
  fill: rgba(255, 255, 255, 0.8);
}

.mobile-nav h4 {
  text-align: center;
  font-size: 1.3rem;
  padding: 10px;
}

.mobile-nav .sidebar__items {
  display: flex;
  /* display: none; */
  flex-direction: column;
  border-top: 2.2px solid #fffbfba3;
}
.mobile-nav .sidebar__item {
  /* color: #000; */
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 2px solid #ffffff42;
  position: relative;
  align-items: center;
  gap: 8px;
}
.mobile-nav .sidebar__item .sidebar__icon > * {
  fill: #fff;
  /* fill: #000; */
}

@media screen and (max-width: 970px) {
  .mobile-nav {
    display: flex;
  }
  .sidebar__items {
    padding: 10px;
  }
  .sidebar {
    display: none;
  }
}
